* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.top {
    background-color: #f4b9c3;
    color: #0a0708;
}

.title {
    font-size: 2rem;
    margin-bottom: 50px;
}

.wrap {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: #272727;
    color: #f4f4f5;
}

p {
    text-align: center;
}

