@media  screen and (min-width: 481px) and (max-width: 768px) {
    .image{
        width: 219px;
        height: 164px;
        margin-bottom: 20px;
    }

    .title {
        width: 218px;
        margin-bottom:15px;
    }


}