*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container{
    width: 1440px;
    height: 900px;
}

.wrap_article{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.image{
    border-radius:10px;
    width: 372px;
    height: 279px;
    margin-bottom: 20px;
}

.title {
    margin-bottom:15px;
    color: #000;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%; /* 24px */
}

.descr  {
    color:  #3C3C43;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 120%; /* 15.6px */
    letter-spacing: 1.5px;
    text-transform: uppercase;
}