@media screen and (max-width: 480px) {
    .wrap_article{
        gap:40px;
    }
    .image{
        width: 343px;
        height: 257px;
        margin-bottom: 20px;
    }

    .title {
        width: 218px;
        margin-bottom:15px;
    }



}