@media screen and (min-width: 481px) and (max-width: 768px) {
    .article {
        gap: 24px;
        margin: 48px 24px;
    }

    .article_item {
        width: 328px;
        padding: 0 ;
    }

}